html * {
    font-family: Camphor,Helvetica,Arial,sans-serif!important;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}


input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black
  }
  input:focus {
    border-color: green
  }

.__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.form__container {
    width: 500px;
}

._header {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}

._header > h2 {
    color: #5964c9;
}

._header > p {
    font-weight: bolder;
    color: rgb(91, 92, 92);
    padding-top: 9px;
}

.form-group label {
    color: rgb(67, 68, 68);
}

.header__button > button {
    margin: 5px 15px;
    width: 230px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    color: white;
}

.form__control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 2px solid ;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.form-actions button {
    width: 160px;
    height: 45px;
    padding: 5px;
    font-size: 15px;
    border: none;
    color: white;
    background-color:#30b3f0;
}

._footer {
    padding: 20px;
}

._footer > a {
    cursor: pointer;
    color: #30b3f0 !important;
    font-weight: bolder;
}

.select__container {
display: flex;
justify-content: center;
padding-bottom: 20px;
}


.select__option {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}

.select__option li {
    float:left;
    margin:0 36px 0 10px;
   width:120px;
   height:60px;
   position:relative;
}

.select__option li label{
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
    color: rgb(82, 82, 82);
}

.select__option label, .select__option input {
   display:block;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   
}

.select__option input[type="radio"] {
   opacity:0.011;
   z-index:100;
}

.select__option input[type="radio"]:checked + label {
   background:#30b3f0;
   color: white;
}

.select__option label {
    /* padding:15px; */
    background: #DDD;
    cursor:pointer;
   z-index:90;
}

.select__option label:hover {
    background:rgb(192, 192, 192);
}

@media (max-width: 550px) {
    .__container {
        padding: 10px;
    }
    .form__container {
        width: 320px;
    }
    .header__button > button {
        margin: 5px 10px;
        width: 120px;
        height: 35px;
        padding: 4px;
        font-size: 10px;
    }

    .select__option li {
        margin:0 3px 0 10px;
       width:90px;
       height:45px;
    }

    .select__option li label{
        font-weight: 200px;
        font-size: 12px;
        text-align: center;
        padding: 9px 0;
    }
}