
input {
    outline: 0;
    border-width: 0 0 0;
    /* border-color: rgb(104, 104, 104); */
  }
  input:focus {
    border-color: rgb(73, 209, 101);
  }

.__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.form__container {
    width: 500px;
}

._header {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}

._header > h2 {
    font-size: 50px;
    color: orange;
}

._header > p {
    font-weight: bolder;
    color: rgb(189, 189, 189);
    padding-top: 9px;
}

.form__group {
padding : 5px 0;
}

.form-group label {
    color: rgb(67, 68, 68);
}

.header__button > button {
    margin: 5px 15px;
    width: 230px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    color: white;
}

.form__control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid rgb(151, 151, 151);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-actions {
    margin: 15px 0 0;
    background-color: transparent;
    text-align: center;

}
.form-actions button {
    width: 160px;
    height: 45px;
    padding: 5px;
    font-size: 15px;
    border: none;
    color: white;
    background-color:#30b3f0;
}

._footer {
    padding: 20px;
}

._footer > a {
    cursor: pointer;
    color: #30b3f0 !important;
    font-weight: bolder;
}

.select__container {
display: flex;
justify-content: space-around;
padding: 20px 0;
}

/* .select__container > button {
    width: 120px;
    padding: 10px 10px;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border:none;
    background-color: grey;
    outline:none;
} */


.select__button {
    width: 120px;
    padding: 10px 10px;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border:none;
    background-color: rgb(175, 175, 175);
    outline:none !important;
}

.select__button__active {
    width: 120px;
    padding: 10px 10px;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border:none;
    background-color: #30b3f0;
    outline:none !important;
}

@media (max-width: 550px) {
    .__container {
        padding: 10px;
    }
    .form__container {
        width: 320px;
    }
    .header__button > button {
        margin: 5px 10px;
        width: 120px;
        height: 35px;
        padding: 4px;
        font-size: 10px;
    }
 
    .select__container > button {
        width: 100px;
        padding: 10px 5px;
        border-radius: 1px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        border:none;
        background-color: #30b3f0;
    }
  
}