::-webkit-scrollbar {
    display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.home_container {
    display: flex;
    flex-direction: column;
}




.button__container{
display: flex;
justify-content: space-around;
padding: 80px 60px ;
}



.button__card {
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
    flex: 0.45;
}
.button__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.button__card__img{
    flex:0.3;
    padding: 10px;
}
.button__card__img > img{
    /* width: 100%; */
    width: 160px;
}
.button__card__details{
    flex:0.7;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.button__card__details > p{
 font-size: 16px;

}
.button__card__details > h2{
    font-size: 22px;
    font-weight: 500;
   }
.button__card__details> button {
    width: 160px;
    height: 36px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
}

.cards__container {
     display: flex;
     padding: 120px 10px 50px 10px;
     background-color: #28328c;
     justify-content: space-around;
}
._card {
    flex: 0.25;
    padding: 10px;
    color: rgb(223, 222, 222);
    font-size: 20px;
    line-height: 1.5em;
}
._card > img {
    /* width: 100%; */
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
._card > h3{
    padding: 8px 0;
    font-size: 35px;
    color: whitesmoke;
}
._footer {
    display: flex;
    justify-content: space-around;
    background-color: #3743b1;
    padding: 40px 0;
    font-size: 20px;
    
}
.footer__cards {
    color: rgb(237, 237, 237);
    display: flex;
    flex: 0.3;
    align-items: center;
    flex-direction: column;
}
.footer__cards > span {
    color: rgb(214, 214, 214) !important;
    cursor: pointer;
    font-weight: 400;
}
.footer__cards > h3{
    padding-bottom: 4px;
    font-size: 30px;
    color: whitesmoke;
}
.footer__cards > span {
padding: 3px 0;
color: rgb(237, 237, 237);
}
.blog__container{
   width: 100%;
   padding: 80px 60px 30px;
}

@media(max-width: 1000px) {
    .button__container {
        flex-direction: column;
    }
}

@media(max-width: 720px) {
    ._footer{
        flex-direction: column;
    }

    .footer__cards {
        margin-bottom: 10px;
    } 
    
    .cards__container {
        flex-direction: column;
    }

  
   
}

@media(max-width: 500px) {
    .button__card {
        display: inline;}

    .button__card__details{
        font-size: 12px;
    }
    .button__card__details> button {
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
 
    ._card > img{
        width: 330px
    }

}