.help__form__container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0px 50px;

}


.HelpForm1 {
    height: fit-content;
    width: 100%;
    max-width: 900px;

}

.HelpForm1__header {
    text-align: center;
    font-size: 45px;
    color: #28328c;
    font-weight: 700;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    /* border-top: 3px solid #28328c ; */
}

.HelpForm1__body{
    padding: 60px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.HelpForm1__card {
  cursor: pointer;
    width: 260px;
    height: 245px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 15px;
}

.HelpForm1__card > p {
    font-size: 22px;
    color: #28328c;
}

.HelpForm1__card >span {
    color: rgb(99, 98, 98);
    font-size: 18px;
}

.help_svg_icons{
    transform: scale(2.4);
    margin: 30px;
    color: #28328c;
  }


  /* // form 2 */

  .HelpForm2__header {
    font-size: 25px;
    color: #28328c;
    font-weight: 700;
    padding: 10px;
    background-color: #fff;

  }

  .HelpForm2__body{
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .select__btn {
      font-size: 17px;
    width: 210px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(99, 98, 98);
    padding: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
  }

  .select__btn__active {
    border: 1px solid rgb(242, 125, 125);
    background-color: rgb(255, 231, 231);
  }

  .mg__rt {
      margin-right: 10px;
  }

  .help__next__btn {
    font-size: 17px;
  width: 160px;
  background-color: rgb(19, 172, 232);
  height: 50px;
  border-radius: 4px;
  color:whitesmoke;
  padding: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.HelpForm2__textarea {
  padding: 20px;
  font-size: 17px;
  color: rgb(99, 98, 98);
  font-weight: 600;
}

.HelpForm2__textarea > textarea {
  background-color: rgb(242, 242, 242) !important;
}


/* .HelpForm2__footer {
    transition: all 2s ease 1s;
} */


/* form 3 */

.HelpForm3__btn__ctr {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 20px;
}

.HelpForm3__btn__ctr > button {
    padding: 8px 15px 8px 18px;
border-radius: 8px;
color: rgb(70, 70, 70);
font-weight: 600;
margin: 10px;
font-size: 16px;

}

.HelpForm_3_body > span {
color: grey;
font-size: 26px;
}

.HelpForm2__select__container{
padding:20px 0 40px 0;
}

.button__selected {
  background-color: rgb(254, 229, 229);
  border: 2px solid rgb(252, 164, 164) !important;
}