
input {
    outline: 0;
    border-width: 0 0 0;
    /* border-color: rgb(104, 104, 104); */
  }
  input:focus {
    border-color: rgb(73, 209, 101);
  }

textarea {
    outline: 0;
    border-width: 0 0 0;
}

textarea:focus {
    border-color: rgb(73, 209, 101);
  }

.__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.form__container {
    width: 700px;
}

._header {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}

._header > h2 {
    font-size: 50px;
    color: #30b3f0;
}

._header > p {
    font-weight: bolder;
    color: rgb(169, 167, 167);
    padding-top: 9px;
}

.form__group {
padding : 8px 0;
}

.form__group label {
    color: rgb(67, 68, 68);
     font-weight: 500;
    font-size: large;
}

/* .header__button > button {
    margin: 5px 20px;
    width: 320px;
    height: 55px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
} */
.google {
    margin: 5px 20px !important;
    width: 320px !important;
    height: 55px !important;
    padding: 6px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border: none!important;
    color: white !important;
    background-color:#DB4437 !important;
    text-align: center !important;
    padding-left: 120px !important;
}
.facebook {
    margin: 5px 20px;
    width: 320px;
    height: 55px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    background-color:#4c69ba
}


.form__control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid rgb(151, 151, 151);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-actions {
    margin: 15px 0 0;
    background-color: transparent;
    text-align: center;
    padding: 10px 0 ;
}
.form-actions button {
    width: 160px;
    height: 55px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    color: white;
    background-color:#30b3f0;
}

.registration__view__footer {
    padding: 20px;
    color: rgb(67, 68, 68);
    font-weight: 500;
   font-size: larger;
}

.registration__view__footer > a {
    cursor: pointer;
    color: #30b3f0 !important;
    font-weight: bolder;
}

.select__container {
display: flex;
justify-content: space-around;
padding: 40px 0;
}


.select__button {
    width: 170px;
    height: 55px;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 1px;
    
    font-weight: 700;
    color: rgb(82, 82, 82);
    border:none;
    background-color:#DDD;
    outline:none !important;
}

.select__button__active {
    width: 170px;
    height: 55px;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 1px;
  
    font-weight: 700;
    color: #fff;
    border:none;
    background-color: #30b3f0;
    outline:none !important;
}

@media (max-width: 800px) {
    .__container {
        padding: 10px;
    }
    .form__container {
        width: 320px;
    }
    /* .header__button > button {
        margin: 5px 10px;
        width: 70px;
        height: 35px;
        padding: 4px;
        font-size: 10px;
    } */

    .google {
        margin: 5px 10px !important;
        width: 150px !important;
        height: 40px !important;
        padding: 0 auto !important;
        font-size: 10px !important;
        font-weight: bold !important;
        border: none!important;
        color: white !important;
        background-color:#DB4437 !important;
        text-align: center !important;
        padding-left: 45px !important;
    }
    .facebook {
        margin: 5px 10px;
        width: 150px;
        height: 40px;
        padding: 6px;
        font-size: 12px;
        font-weight: bold;
        border: none;
        color: white;
        background-color:#4c69ba
    }


 
    .select__container > button {
        width: 100px;
        padding: 10px 5px;
        border-radius: 1px;
        font-size: 12px;
        font-weight: 700;
      
    }
  
}